{% extends "layout.html" %}
{% block content %}
    <h2>About</h2>
        <p>The Health Queue project was born out of a need to address the inefficiencies and frustrations commonly experienced in healthcare facilities. Long waiting times, mismanaged appointments, and a lack of real-time communication between patients and healthcare providers were some of the major issues identified. These challenges not only affect patient satisfaction but also impact the overall efficiency of healthcare delivery.</p>
        <p>Inspired by the vision of a seamless and efficient healthcare experience, Health Queue aims to revolutionize the way patient queues are managed. By leveraging modern technology, our system provides real-time updates, easy appointment scheduling, and automated notifications, ensuring that patients spend less time waiting and more time receiving the care they need.</p>
        <p>The development of Health Queue was driven by extensive research and collaboration with healthcare professionals to understand their pain points and requirements. Our goal is to create a user-friendly, secure, and reliable solution that not only enhances the patient experience but also supports healthcare providers in delivering high-quality care.</p>
        <ul>
            <li><a href="https://www.linkedin.com/in/zeinu-kedir-426025222/">LinkedIn</a></li>
            <li><a href="https://github.com/SUBANUM63">GitHub</a></li>
            <li><a href="https://twitter.com/zeinukedir3">Twitter</a></li>
        </ul>
        <p><a href="https://github.com/SUBANUM63/Health-queue">GitHub Repository</a></p>
        <video controls>
            <source src="static/image/video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
{% endblock content %}
