{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3">Queues by {{ user.username }} ({{ queues.total }})</h1>
    {% for queue in queues.items %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + queue.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('users.user_queues', username=queue.author.username) }}">{{ queue.author.username }}</a>
              <small class="text-muted">{{ queue.date_queued.strftime('%Y-%m-%d %I-%M-%S %p') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('queues.queue', queue_id=queue.id) }}">{{ queue.title }}</a></h2>
            <p class="article-content">{{ queue.content }}</p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in queues.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if queues.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('users.user_queues', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('users.user_queues', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}
